<table class="table table-bordered table-sm">
 <caption>Try to display in table form - this is the table caption</caption>
 <thead>
  <tr>
   <th colspan="2">Table Head: wine data</th>
   <th>Table Head: wine label
  </tr>
 </thead>
 <tbody>
  <tr>
   <td><strong>Name:</strong></td>
   <td><%= @wine.name %></td>
   <td rowspan="7"> <%= image_tag(@wine.label.url, alt: 'image') if @wine.label? %></td>
  </tr>
  <tr>
   <td><strong>Year:</strong></td>
   <td><%= @wine.year %></td>
  </tr>
  <tr>
   <td><strong>Origin:</strong></td>
   <td><%= @wine.origin %></td>
  </tr>
  <tr>
   <td><strong>Alcohol (%):</strong></td>
   <td> <%= display_percentage(@wine.alc) %> </td>
  </tr>
  <tr>
   <td><strong>Sugar (g/L):</strong></td>
   <td><%= display_residual_sugar(@wine.sugar) %></td>
  </tr>  

  <tr>
      <td><strong>Acidity (g/L):</strong></td>
      <td><%#= display_residual_sugar(@wine.acidity) %></td>
      </tr>  


  <tr>
   <td><strong>Price (€):</strong></td>
   <td><%= display_price(@wine.price) %></td>
  </tr>
   <tr>
   <td><strong>Bought:</strong></td>
   <td><%= @wine.wherebought %></td>
  </tr>
 </tbody>
 <tfoot>
 	<tr>
 		<th colspan="3">
 			this is the table footer
 		</th>
 	</tr>
 </tfoot>
<!-- <tfoot>
  <tr>
   <th colspan="3">Subtotal</th>
   <td> 110.00</td>
  </tr>
  <tr>
   <th colspan="2">Tax</th>
   <td> 8% </td>
   <td>8.80</td>
  </tr>
  <tr>
   <th colspan="3">Grand Total</th>
   <td>$ 118.80</td>
  </tr>
 </tfoot> -->
</table>


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wine.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @wine.year %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @wine.origin %>
</p>

<p>
  <strong>Alcohol (%):</strong>
  
  <%= display_percentage(@wine.alc) %>
</p>

<p>
  <strong>Sugar (g/L):</strong>
  <%= display_residual_sugar(@wine.sugar) %>
</p>

<p>
  <strong>Price (€):</strong>
  <%= display_price(@wine.price) %>
</p>

<p>
  <strong>Bought:</strong>
  <%= @wine.wherebought %>
</p>


<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
